---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.svelte";
import BlogButton from "../../components/BlogCard.svelte";

---

<BaseLayout title="Blog">
  <Hero
    backgroundImage="url(/about-us-hero.webp)"
    standardTitleText="Build"
    gradientTitleText="Blog"
    descriptionText="Catch up on all of VPCI Robotic's latest news!"
  />
  <div class="grid grid-cols-2 gap-4 place-items-center p-8">
    <BlogButton
      title="The Importance of Robotics in High School Education"
      description="VPCI Robotics • Mon Jun 05 2023"
      sideImage="/about-us-hero.webp"
      altText="Students In Robotics"
      linkTo="intro"
    />
  </div>
</BaseLayout>
