---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.svelte";
---

<BaseLayout title="Build Subteam">
  <Hero
    backgroundImage="url(/hero-img.webp)"
    gradientTitleText="Build and Design"
    descriptionText=""
  />

  <section class="bg-white dark:bg-gray-900">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <img
        class="w-full"
        src="https://live.staticflickr.com/65535/53466317270_6b23053bab_c_d.jpg"
        alt="build image"
      />
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          BUILD SUBTEAM
        </h2>
        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
          The build and design subteam is responsible for designing,
          manufacturing and assembling the parts of the robot. This subteam
          creates CAD models and fabricates them using a variety of tools. Build
          members will be taught how to operate all tools safely and effectively
          with the various materials that we use.
        </p>
      </div>
    </div>
  </section>

  <div class="bg-base-100 pt-10">
    <h2
      class="mx-auto text-center 4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      DESIGN PRINCIPLES
    </h2>

    <div class="flex justify-center p-10 gap-x-10 gap-y-8 flex-wrap">
      <!-- Main Card -->
      <div class="card bg-base-200 shadow-xl w-96">
        <figure>
          <img
            src="/drivetrain.png"
            alt="Build Subteam"
            class="h-64 object-cover w-full"
          />
        </figure>

        <div class="card-body">
          <h2 class="card-title">Designated Subsystems</h2>
          <p>
            Our mechanisms can be both designed and assembled independently,
            allowing multiple stages of the design process to take place
            simultaneously.
          </p>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl w-96">
        <figure>
          <img
            src="https://www.onshape.com/global-assets/img/industry-pages/robotics/be-robust-robotics-cad-model.png"
            alt="Build Subteam"
            class="h-64 object-cover w-full"
          />
        </figure>

        <div class="card-body">
          <h2 class="card-title">CAD First</h2>
          <p>
            To ensure all parts fit together properly, before spending time and
            resources on implementation, parts are designed in Computer Aided
            Design (CAD) software.
          </p>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl w-96">
        <!--taken from https://www.nytimes.com/wirecutter/reviews/best-home-3d-printer/-->
        <figure>
          <img
            src="/slide1.png"
            alt="Build Subteam"
            class="h-64 object-cover w-full"
          />
        </figure>

        <div class="card-body">
          <h2 class="card-title">Iterative Design</h2>
          <p>
            At the beginning of the season, we watched CENTERSTAGE as a large
            team, began brainstorming different ideas, and shared our thoughts.
            From there we researched and started to plan different designs.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          MAJOR COMPONENTS
        </h2>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        <div>
          <img
            src="/DC-motor.webp"
            alt="Marketing"
            class="w-full h-64 mb-4 rounded-lg object-cover"
          />
          <h3 class="mb-2 text-xl font-bold dark:text-white">Motors</h3>
          <p class="text-gray-500 dark:text-gray-400">
            The motors are used in a number of different components on our
            robot. They allow our robot's claw to pick up pixels and place them
            high up on the board. They are also used to innitiate our hanging
            sequence. These motors allow us to do heavy-duty work.
          </p>
        </div>

        <div>
          <img
            src="/Control-Hub.webp"
            alt="Legal"
            class="w-full h-64 mb-4 rounded-lg object-cover"
          />
          <h3 class="mb-2 text-xl font-bold dark:text-white">Control Hub</h3>
          <p class="text-gray-500 dark:text-gray-400">
            The control hub is basically the brain of the robot. It allows us to
            manipuate the entirety of the robot with much effectiveness. It
            connects our inputs from our driver hub, and turns these
            instructions given into brand new instructions for other parts of
            the robot, allowing it to innitiate a number of important sequences.
          </p>
        </div>

        <div>
          <img
            src="/Servo.webp"
            alt="Business Automation"
            class="w-full h-64 mb-4 rounded-lg object-cover"
          />
          <h3 class="mb-2 text-xl font-bold dark:text-white">Servos</h3>
          <p class="text-gray-500 dark:text-gray-400">
            The servos are like the precise and nimble fingers of our robot.
            They allow us to perform more precise actions than motors, at a
            tradeoff of power. On our robot, servos are used on the claw
            mechanisms among other components, and they play a crucial role in
            the making of our robot.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-base-100 pt-5">
    <h1 class="text-bold mx-auto text-center text-3xl">
      HOW WE MANUFACTURE PARTS
    </h1>

    <div class="flex justify-center p-10 gap-x-10 gap-y-8 flex-wrap">
      <!-- Main Card -->
      <div class="card bg-base-200 shadow-xl w-96">
        <figure><img src="/power-tools.webp" alt="Build Subteam" /></figure>

        <div class="card-body">
          <h2 class="card-title">Power Tools</h2>
          <p>
            The majority of all parts that go onto the robot are machined in
            house using various power tools such as drills, bandsaws, and drill
            presses. Every build member will be trained to operate these tools
            safely and effectively.
          </p>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl w-96">
        <figure><img src="/cnc-machine.webp" alt="Build Subteam" /></figure>

        <div class="card-body">
          <h2 class="card-title">CNC Machine</h2>
          <p>
            For parts that require accuracy and precision, we use the CNC, a
            machine that uses programmed instructions to control and automate
            machining processes. We use the CNC primarily for polycarbonate
            parts such as gussets.
          </p>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl w-96">
        <!--taken from https://www.nytimes.com/wirecutter/reviews/best-home-3d-printer/-->
        <figure><img src="/3D-printer.webp" alt="Build Subteam" /></figure>

        <div class="card-body">
          <h2 class="card-title">3D-Printing</h2>
          <p>
            3D printing technology is used to create small, precise shapes. We
            use 3D printed parts primarily for pulleys and other non load
            bearing pieces of the robot.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-base-200 pt-5">
    <h1 class="text-bold mx-auto text-center text-3xl">RESOURCES</h1>

    <div class="flex justify-center p-5 gap-x-8 gap-y-2 flex-wrap">
      <a
        href="https://docs.google.com/presentation/d/1D-TTWkGcIM9IYwn_SvGX0fwiERCBiqFc/edit?usp=sharing&ouid=115198120432465400656&rtpof=true&sd=true"
        class="btn btn-primary">VPCI Robotics Mechanical Guide</a
      >
      <a
        href="https://docs.google.com/presentation/d/1XWlT2D6pqDgk782QwVp3kUptwbJLyZR2/edit?usp=sharing&ouid=115198120432465400656&rtpof=true&sd=true"
        class="btn btn-primary">VPCI Robotics Material Guide</a
      >
      <a
        href="https://drive.google.com/file/d/1EDPonK7Pc_Vf_9crYTMUXauCYa4-7a5h/view"
        class="btn btn-primary">General Electrical System Notes</a
      >
      <a
        href="https://mililanirobotics.gitbooks.io/frc-electrical-bible/content/"
        class="btn btn-primary">Additional System notes</a
      >
      <a
        href="https://wpilib.screenstepslive.com/s/currentCS/m/kop/l/1030226-wiring-the-frc-control-system"
        class="btn btn-primary">Wiring the FRC control system</a
      >
      <a
        href="https://firstfrc.blob.core.windows.net/frc2017/pneumatics-manual.pdf"
        class="btn btn-primary">FRC pneumatics guide</a
      >
    </div>
  </div>
</BaseLayout>

<style></style>
