---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.svelte";
import MediaIntroduction from "../../components/MediaIntroduction.svelte";
import MediaSocialLinks from "../../components/MediaSocialLinks.svelte";
---

<BaseLayout title="Media Subteam">
  <Hero
    backgroundImage="url(/hero-img.webp)"
    gradientTitleText="Media"
    descriptionText="Let us appreciate our media team's efforts!"
  />

  <section class="bg-white dark:bg-neutral-800">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <img
        class="w-full"
        src="https://live.staticflickr.com/65535/53403974384_e5a3cbfcee_b_d.jpg"
        alt="build image"
      />
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Media Subteam
        </h2>
        <p class="mb-6 font-light md:text-lg dark:text-white">
          Photography and editing are key aspects of the media subteam. Media is
          a part of robotics that is non-technical. We take photos and videos of
          the progress of the robot and at competitions. Media is also in charge
          of handling our community outreach events. All that is needed for this
          subteam is a camera and any editing software.
        </p>
        <a
          href="https://www.instagram.com/vpci.robotics/"
          class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800 rounded-lg"
        >
          Visit our Instagram!
          <svg
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </div>
    </div>
  </section>
</BaseLayout>

<style></style>
