---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.svelte";
---

<BaseLayout title="Programming Subteam">
  <Hero
    backgroundImage="url(/hero-img.webp)"
    gradientTitleText="Programming"
    descriptionText="Programming - the brain and nerves of our robot!"
    buttonText="See More"
  />

  <section class="bg-white dark:bg-gray-900">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <img
        class="w-full"
        src="https://live.staticflickr.com/65535/53466214869_e4baede0f5_b_d.jpg"
        alt="build image"
      />
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          PROGRAMMING SUBTEAM
        </h2>
        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
          Our programming subteam uses Java and Python to code the robot, which
          includes creating an intuitive and assistive control system for the
          drive team, as well as efficiently and safely utilizing the
          electronics. Being a programmer requires you to understand how the
          entire robot functions as a system, so getting involved with the other
          technical sub-teams (build, design, electronics) is encouraged.
          Although prior programming experience is useful, the willingness to
          learn is more important.
        </p>
      </div>
    </div>
  </section>

  <div class="bg-base-100 pt-10">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-6">
      <h2
        class="mb-2 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        PROGRAMMING PROJECTS
      </h2>
    </div>

    <div class="flex justify-center p-10 gap-x-10 gap-y-8 flex-wrap">
      <!-- Main Card -->
      <div class="card bg-base-200 shadow-xl w-96">
        <figure>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Xbox-360-Controller-Black.jpg/635px-Xbox-360-Controller-Black.jpg"
            alt="Build Subteam"
            class="h-64 object-cover w-full"
          />
        </figure>

        <div class="card-body">
          <h2 class="card-title">TeleOp</h2>
          <p>
            For added manoeuvrability, we chose to use a mecanum drive, keeping
            in mind the drivers’ ease of motion since the bot is fairly simple,
            such as by avoiding control arrangements that might make the driver
            accidentally make a mistake. We also slowed down some of the bot
            movements during the TeleOp period to make it easier for the driver
            to be precise.
          </p>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl w-96">
        <figure>
          <img
            src="https://i.ytimg.com/vi/4uBRRA1gai0/hqdefault.jpg"
            alt="Build Subteam"
            class="h-64 object-cover w-full"
          />
        </figure>

        <div class="card-body">
          <h2 class="card-title">Tensorflow</h2>
          <p>
            In general, the Tensorflow machine learning tool manipulates frames
            by creating randomized filters to detect patterns. By the process of
            trial and error, the model trains by recognizing the team prop and
            verifies its accuracy by using a set number of manually labeled
            frames. After the model had been trained, we verified our metrics
            and trained it more for better results.
          </p>
        </div>
      </div>

      <div class="card bg-base-200 shadow-xl w-96">
        <!--taken from https://www.nytimes.com/wirecutter/reviews/best-home-3d-printer/-->
        <figure>
          <img
            src="https://docs.cbteeple.com/assets/img/apriltags_30mm.png"
            alt="Build Subteam"
            class="h-64 object-cover w-full"
          />
        </figure>

        <div class="card-body">
          <h2 class="card-title">April Tags</h2>
          <p>
            April tags are essentially like QR codes but for our robot. It
            provides our robot with essential data such as X and Y coordinates
            along with information such as the something. We used snippets of
            code, the April tag library provided by FTC along with our knowledge
            of Java, to piece together a program that would read these April
            tags and provide us with valuable information. We had a few hiccups
            along the way, such as the April tags being incorrectly detected, or
            identified. But through a bit of perseverance, we were able to fix
            all the issues we faced.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--
    <div class="card card-side bg-base-100 mb-4 flex-col p-4 shadow-xl lg:flex-row">
        <figure class="basis-3/4">
            <img class="max-w-sm shadow-2xl" src="https://miro.medium.com/v2/resize:fit:1400/1*u1Ol4tsi18H-dFfJIc4VWQ.jpeg" alt="Movie" />
        </figure>
        <div class="card-body text-center">
            <h1 class="text-5xl font-semibold">Robot Vision : Auto-Aim</h1>
            <p class="py-6">Our robot has an onboard camera running OpenCV on a Raspberry Pi to help automatically align the robot's ball shooter with the target goal. At the moment it runs on Python, however, we are looking to improve its efficiency. Some prior knowledge about Python, C++ or general computer vision processing is useful but not necessary.</p>
        </div>
        <figure class="basis-3/4">
            <img class="max-w-sm shadow-2xl" src="https://miro.medium.com/v2/resize:fit:1400/1*u1Ol4tsi18H-dFfJIc4VWQ.jpeg" alt="Movie" />
        </figure>
    </div>
    -->

  <!-- Resource box -->
  <div
    style="border: .5px solid white;"
    class="w-full shadow-xl bg-base-200 rounded-xl p-6 text-center"
  >
    <h2
      class="mb-2 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      RESOURCES
    </h2>
    <div class="py-5 bg-base-300 rounded-box">
      <!--Creates the buttons and dividers for the Core Values section -->
      <div class="flex flex-wrap w-full justify-center opacity-90">
        <!--Button corresponding to a web page-->
        <div class="grid h-100 mx-4 my-2 card bg-base-300">
          <a
            class="transition-all duration-700 ease-in-out grid h-20 mx-4 my-2 flex-grow card bg-red-900 text-gray-50 rounded-box place-items-center btn hover:-translate-y-2 hover:bg-red-800"
            href="https://github.com/Team4914"
            >Victoria Park Github
          </a>
        </div>
        <!--Button corresponding to a web page-->
        <div class="grid h-100 mx-4 my-2 card bg-base-300">
          <a
            class="transition-all duration-700 ease-in-out grid h-20 mx-4 my-2 flex-grow card bg-red-900 text-gray-50 rounded-box place-items-center btn hover:-translate-y-2 hover:bg-red-800"
            href="https://docs.github.com/en/get-started/quickstart/hello-world"
            >Github tutorial
          </a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
