---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.svelte";
import BlogButton from "../components/BlogButton.svelte";

import { getCollection } from "astro:content";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<BaseLayout title="Blog">
  <Hero
    backgroundImage="url(about-us-hero.webp)"
    gradientTitle={true}
    standardTitleText="Build"
    gradientTitleText="Blog"
    descriptionText="Catch up on all of VPCI Robotic's latest news!"
    button={false}
  />
  <div class="grid grid-cols-1 gap-4 place-items-center">
    <BlogButton
      title="The Importance of Robotics in High School Education"
      description="VPCI Robotics • Mon Jun 05 2023"
      sideImage="/about-us-hero.webp"
      altText="Students In Robotics"
      linkTo="intro"
    />
  </div>
</BaseLayout>
