---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.svelte";
---

<BaseLayout title="Community Outreach">
  <Hero
    backgroundImage="url(/hero-img.webp)"
    standardTitleText="Community"
    gradientTitleText="Outreach"
    descriptionText="Learn about ways that VPCI Robotics is interacting with our community!"
    buttonText="Contact Us"
  />
  <div class="flex justify-center">
    <p class="text-4xl my-10">
      <b>Keep up with what's happening at Victoria Park Robotics!</b>
    </p>
  </div>

  <div class="flex flex-wrap justify-evenly">
    <div
      class="card"
    >
      <figure>
        <img src="fundraising.webp" alt="image of fundraising" />
      </figure>
      <div class="card-body">
        <h1 class="card-title">Fundraising!</h1>
        <p>
          Thank you all very much for today's round of fundraising! We were able
          to make a lot from the mochi and other sales. Make sure to come back
          these following days on the 29th and 30th for more mochi and noodles!
        </p>
      </div>
    </div>
    <div
      class="card"
    >
      <figure>
        <img src="/Scratch-icon.webp" alt="Scratch icon" />
      </figure>
      <div class="card-body">
        <h1 class="card-title">Scratch Outreach!</h1>
        <p>
          Hello Victoria Park! We are planning a scratch outreach program, where
          we go to middle schools in the vicinity, and teach them the basics of
          programming. Keep an eye on our blog for more updates!
        </p>
      </div>
    </div>
    <div
      class="card"
    >
      <figure>
        <img
          src="/VP-apparel.webp"
          alt="Victoria Park Robotic's very own Apparel!"
        />
      </figure>
      <div class="card-body">
        <h1 class="card-title">Merchandise!</h1>
        <p>
          Hello Victoria Park Robotics! We now have official Victoria Park
          Merchandise for Victoria Park Robotics members. If you're interested,
          come down to Victoria Park Robotics after school to learn more.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  @tailwind base;
	@tailwind components;
	@tailwind utilities;
  @layer components {
    .card {
      @apply bg-base-200 mx-10 my-10 shadow-xl hover:scale-[1.02] md:w-3/12 transition-all ease-in-out;
    }
  }
</style>
