---
import BaseLayout from "../layouts/BaseLayout.astro";

import CoreValues from "../components/CoreValues.svelte";
import Hero_Cards from "../components/Hero_Cards.svelte";
import Hero from "../components/Hero.svelte";
---

<script>
  const theme = localStorage.getItem("theme");
  console.log(theme);
</script>

<BaseLayout title="Victoria Park Panthers">
  <div transition:persist>
    <Hero
      backgroundImage="url(hero-img.webp)"
      gradientTitle={true}
      standardTitleText="VPCI"
      gradientTitleText="Robotics"
      descriptionText="Welcome to VPCI Robotics! Hope you enjoy your stay!"
      button={true}
      buttonText="About Us"
      client:only="svelte"
    
    />
  </div>
  <!-- Team leader change (reason?) => recycling -->
  <Hero_Cards />
  <CoreValues />
</BaseLayout>

<style></style>
