---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.svelte';
import CoreValues from '../components/CoreValues.svelte';
import Footer from '../components/Footer.svelte';
---

<Layout title="Welcome to Robotics.">
	<main>
		<Navbar/>
		<CoreValues/>
		<Footer />
	</main>
</Layout>

<style>
</style>
