---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.svelte';
import CoreValues from '../components/CoreValues.svelte';
import Sidebar from '../components/Sidebar.svelte';
---

<Layout title="Welcome to Robotics.">
	<Sidebar>
		<Navbar/>

		<main> 
			<CoreValues/>
		</main>
	</Sidebar>
</Layout>

<style>
</style>
