---
import Navbar from '../components/Navbar.svelte';
import CoreValues from '../components/CoreValues.svelte';
import Hero_Cards from '../components/Hero_Cards.svelte';
import Footer from '../components/Footer.svelte';
import Sidebar from '../components/Sidebar.svelte';
import Hero from '../components/Hero.svelte';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<script>
	const theme = localStorage.getItem("theme");
	console.log(theme)
</script>

<BaseLayout title="Welcome to Robotics.">
	<main>
		<Sidebar />
		<Navbar />
		<Hero
			backgroundImage="url(hero-img.png)"
			gradientTitle={true}
			standardTitleText="VPCI"
			gradientTitleText="Robotics"
			button={true}
			buttonText="About Us"
		/> <!-- Team leader change (reason?) => recycling -->
		<Hero_Cards />
		<CoreValues/>
		<Footer />
	</main>
</BaseLayout>

<style>
</style>
