---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.svelte';
---

<Layout title="Welcome to Robotics.">
	<main>
		<Navbar/>
	</main>
</Layout>

<style>
</style>
