---
import Main from "../components/main.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			.root {
  				font-family: var(--agnostic-font-family-body);
  				font-size: var(--agnostic-body);
  				color: var(--agnostic-font-color);
  				-webkit-font-smoothing: antialiased;
  				line-height: 1.5;
			}
		</style>
	</head>
	<body>
		<Main/>
	</body>
</html>
