---
import NavbarUrl from "./NavbarUrl.astro";
import pages from "./navbarPageNames";
---

<header
  class="flex items-center bg-base-100 md:justify-start md:flex-nowrap z-50 w-full border-b text-sm py-3 md:py-0 border-zinc-700"
>
  <nav
    class="relative max-w-7xl w-full mx-auto px-4 md:flex md:items-center md:justify-between md:px-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex items-center justify-between">
      <div class="">
        <a class="flex flex-row align-center items-center" href="/">
          <img
            src="/logo-transparent.webp"
            width="48"
            height="48"
            class="mr-2 invert dark:invert-0"
            loading="eager"
          />
          <h1 class="flex-none text-xl font-semibold">VPCI Robotics</h1>
        </a>
      </div>
      <div class="md:hidden">
        <label for="sidebar" aria-label="open sidebar" class="btn btn-ghost">
          <!-- hamburger icon -->
          <svg
            class="w-4 h-4"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            ></path>
          </svg>
        </label>
      </div>
    </div>

    <div
      class="hidden overflow-hidden transition-all duration-300 basis-full grow md:block"
    >
      <div
        class="flex flex-col gap-y-4 gap-x-0 mt-5 sm:flex-row sm:items-center sm:justify-end sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:ps-7"
      >
        {
          pages.map((page) =>
            page.submenus ? (
              <div class="hs-dropdown [--strategy:fixed] [--trigger:hover] [--placement:bottom-left] sm:py-4">
                <button
                  type="button"
                  class="flex items-center w-full text-zinc-800 hover:text-primary font-medium dark:text-zinc-300 dark:hover:text-secondary"
                >
                  {page.name}
                  <svg
                    class="ms-2 w-2.5 h-2.5 text-gray-600"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                    />
                  </svg>
                </button>

                <div class="hs-dropdown-menu bg-base-100 transition-[opacity,margin] duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 w-48 hidden z-10 shadow-md rounded-lg p-2 border border-zinc-900 dark:border-zinc-700 dark:divide-zinc-700 before:absolute top-full before:-top-5 before:start-0 before:w-full before:h-5">
                  {page.submenus.map((submenu) => (
                    <a
                      class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-zinc-800 hover:bg-zinc-100 hover:text-primary focus:ring-2 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-secondary dark:focus:outline-none dark:focus:ring-1"
                      href={submenu.href}
                    >
                      {submenu.name}
                    </a>
                  ))}
                </div>
              </div>
            ) : (
              <NavbarUrl text={page.name} href={page.href || ""} />
            ),
          )
        }

        <label
          class="sm:my-6 sm:ps-6 swap swap-rotate sm:border-s sm:border-gray-300 dark:border-gray-700"
        >
          <input data-choose-theme type="checkbox" checked />
          <!-- this hidden checkbox controls the state -->

          <!-- sun icon -->
          <svg
            class="swap-on fill-current w-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><path
              d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
            ></path></svg
          >

          <!-- moon icon -->
          <svg
            class="swap-off fill-current w-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            ><path
              d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
            ></path></svg
          >
        </label>
      </div>
    </div>
  </nav>
</header>
