---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.svelte";
import Navbar from "../components/Navbar.svelte";
import SetTheme from "../components/SetTheme.astro";
import Sidebar from "../components/Sidebar.svelte";

interface Props {
  title: string;
  description?: string;
  image?: string;
  articleDate?: string;
  theme?: string;
}

const { title, description, image, articleDate } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
    <SetTheme lightColor="#000" darkColor="#FFF"/>
  </head>
  <body>
    <Sidebar />
    <Navbar />
    <main>
      <!-- Main content of webpage goes here -->
      <slot>
        <!-- Child elements are put here -->
        <!-- Default content if none added -->
         No content found for this page.
      </slot>
    </main>

    <Footer />
  </body>
</html>

