---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.svelte";
import Navbar from "../components/Navbar.astro";
import SetTheme from "../components/SetTheme.astro";
import Sidebar from "../components/Sidebar.svelte";

interface Props {
  title: string;
  description?: string;
  image?: string;
  articleDate?: string;
  theme?: string;
}

const { title, description, image, articleDate } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <BaseHead
    title={title}
    description={description}
    ogImage={image}
    articleDate={articleDate}
  />

  <body>
    <Sidebar />
    <Navbar />
    <main>
      <slot> No content found for this page. </slot>
    </main>

    <Footer />
  </body>
</html>
