---
import BaseLayout from "./BaseLayout.astro";

import Navbar from "../components/Navbar.svelte";
import Sidebar from "../components/Sidebar.svelte";
import Footer from "../components/Footer.svelte";

const { title } = Astro.props;
---

<BaseLayout title={ title }>
    <Sidebar />
    <Navbar />

    <main> <!-- Main content of webpage goes here -->
        <slot> <!-- Child elements are put here -->
            <!-- Default content if none added -->
            No content found/loaded for this page.
        </slot>
    </main>

    <Footer />
</BaseLayout>
